<ApaGroupConfigurations>
  <IranDateTimeSynchronizedDay value="0" />
  <IranDateTimeSynchronizedHour value="0" />
  <IranDateTimeSynchronizedMinute value="0" />
  <IranDateTimeSynchronizedSecond value="0" />
  <AdministratorPassword value="189, 142, 55, 74, 27, 178, 83, 187, 125, 151, 55, 131, 144, 96, 178, 91, 129, 19, 166, 124, 7, 121, 215, 117, 138, 118, 59, 132, 18, 94, 62, 34" />
</ApaGroupConfigurations>